<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>AngularJS Select Box Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="SelectCtrl">
    <h2>Select a Country</h2>
    <select ng-model="selectedCountry" ng-options="country for country in countries">
        <option value="">--Select Country--</option>
    </select>
    <p ng-if="selectedCountry">You selected: {{selectedCountry}}</p>
    <script>
        angular.module('myApp', [])
        .controller('SelectCtrl', function($scope) {
            $scope.countries = ['India', 'USA', 'UK', 'Canada'];
        });
    </script>
</body>
</html>